.App {
  text-align: center;
}


.taskCard {
  border: 2px solid black;
  margin: 20px;

  width: 200px;
  text-align: center;
}

.cBtn {
  font-size: 16px;
  padding: 5px 10px;
  margin-block: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-inline: 5px;
}

.form {
  width: 600px;
  margin-inline: auto;
}

.form input {
  width: 500px;
  height: 30px;
  border: 2px solid black;
  margin-block: 5px;
  padding-left: 10px;
  border-radius: 8px;
}

.form button {
  font-size: 16px;
  padding: 5px 10px;
  margin-block: 10px;
  border-radius: 4px;
}